<!DOCTYPE html>
{% load static %}
<html lang="en" >
    <!--begin::Head-->
    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <title>Fauji Agro</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--begin::Fonts(mandatory for all pages)-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>        <!--end::Fonts-->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
                    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
                            <link href="/static/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
                            <link href="/static/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
                        <!--end::Global Stylesheets Bundle-->
        
        
        <script>
            // Frame-busting to prevent site from being loaded within a frame without permission (click-jacking)
            if (window.top != window.self) {
                window.top.location.replace(window.self.location.href);
            }
        </script>
    </head>
    <!--end::Head-->

    <!--begin::Body-->
    <body  id="kt_body"  class="app-blank" >
        <!--begin::Theme mode setup on page load-->
<script>
	var defaultThemeMode = "light";
	var themeMode;

	if ( document.documentElement ) {
		if ( document.documentElement.hasAttribute("data-bs-theme-mode")) {
			themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
		} else {
			if ( localStorage.getItem("data-bs-theme") !== null ) {
				themeMode = localStorage.getItem("data-bs-theme");
			} else {
				themeMode = defaultThemeMode;
			}			
		}

		if (themeMode === "system") {
			themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
		}

		document.documentElement.setAttribute("data-bs-theme", themeMode);
	}            
</script>
<!--end::Theme mode setup on page load-->            

        
        <!--begin::Root-->
<div class="d-flex flex-column flex-root " style="margin-left: 5px;margin-right: 5px" id="kt_app_root">
    
    <!--begin::Authentication - Multi-steps-->
<div class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column stepper-multistep" id="kt_create_account_stepper">
  

    <!--begin::Body-->
    <div class="d-flex flex-column flex-lg-row-fluid py-10 ">
        <section class="subheader bgi-size-cover bg-transparent bgi-position-x-center bgi-position-y-bottom"
			style="background-image:url('assets/images/header_bg.jpg')">
			<header id="site_header" class="header header-inner">
				<div class="container d-flex justify-content-between align-items-stretch">
					<div class="d-flex align-items-center">
						<a href="/" class="header-brand mr-3 mr-lg-25">
							
							<img alt="logo" src="/static/assets/media/custom-1.png" class="logo-white h-70px">
						</a>
					</div>
					<div class="d-flex justify-content-end flex-lg-grow-1 align-items-stretch">
						<ul class="topbar d-flex align-items-stretch">
							<li class="topbar-wrapper d-flex align-items-stretch">


								<!-- <div class="topbar-item">
									<a href=""
										class="btn btn-flex btn-success text-white font-weight-bolder px-5 ">
										<span class="fa fa-user text-white"></span>
									</a>
								</div> -->
								<div class="topbar-item">

								<a href="/signup" class="btn btn-lg font-weight-bolder " style="color: #ddd;background-color: #005c29;" >Go back</a>
								
							</div>

							</li>
						</ul>
					</div>
				</div>
			</header>

		</section>
          <!--begin::Header-->
          <div class="flex-center card">          
            <!--begin::Logo-->
            <a href="/">
                <img alt="Logo"  src="/static/assets/media/custom-1.png" height="150px"/>
            </a>    
            <!--end::Logo-->
        </div>
        <!--end::Header--> 
        
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid ">
            <!--begin::Wrapper-->
            <div class="w-lg-650px w-xl-700px p-10 p-lg-15 mx-auto shadow-lg">
                <!--begin::Form-->
                <form class="my-auto pb-5" novalidate="novalidate" id="kt_create_account_form">
                    <!--begin::Step 1-->
                    <div class="current" data-kt-stepper-element="content">
                        <!--begin::Wrapper-->
<div class="w-100">
    <!--begin::Heading-->
    <div class="pb-10 pb-lg-15">
        <!--begin::Title-->
        <h2 class="fw-bold d-flex align-items-center text-dark">
          T&C

            
<span class="ms-1"  data-bs-toggle="tooltip" title="Terms and Conditions" >
	<i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>        </h2>
        <!--end::Title-->

      
    </div>
    <!--end::Heading-->

    
 
<br>
    <!--begin::Input group-->
    <div class="fv-row text-center  m-5">
        <!--begin::Row-->
        <div class="row">
         
            
            <form class="form w-100 mb-13" novalidate="novalidate" data-kt-redirect-url="#" id="kt_sing_in_two_factor_form">
             
            
              
            
                <!--begin::Section-->
                <div class="mb-10 flex-center text-center">
                 
            
             
                      <!--begin::Heading-->
                <div class=" text-center flex-center mb-10">
                     
              
            
                    <!--begin::Mobile no-->    
                    
                    <!--end::Mobile no-->    
                </div>
                <!--end::Heading-->

                   <!--begin::Sub-title-->   
                  <i><div class="text-muted fw-semibold fs-5 mb-5"><h1>Terms and Conditions for Location Access on Web Application: </h1>

                   <B> <p>Welcome to our website. By accessing or using our website, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions of use ("Terms and Conditions"). If you do not agree to these Terms and Conditions, please do not use our website.</p></B>
<ul>
<li>One of our teams is presently being incubated by the GOI / Ministry of Agriculture & another one by a certain other Department of the Government of India.</li>
<li>We want to make it easier for startups to interact, grow & scale up domestically & globally. </li>
<li>Use of Website : Our website allows users to share their location, raise queries as farmers, retired personnel, incubators, startups, etc., share their ideas, and engage in trading. By using our website, you agree that you will not use the website for any unlawful purpose, including but not limited to uploading or transmitting any harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or otherwise objectionable material; violating any intellectual property rights; impersonating any person or entity, including but not limited to our staff, or falsely stating or otherwise misrepresenting your affiliation with any person or entity; interfering with or disrupting our website or servers, or networks connected to our website; or violating any applicable laws or regulations.</li>
<li>User Accounts  : To access certain features of our website, you may be required to create an account. You agree to provide accurate and complete information when creating your account and to update your account information as needed. You are responsible for maintaining the confidentiality of your account login credentials and all activities that occur under your account.</li>
<li>Location Sharing :  If you choose to share your location on our website, you agree that we may collect and use your location information to provide you with relevant services and information. You also acknowledge that sharing your location on our website is voluntary, and you may opt-out at any time. If you feel you have clicked on send location in error, don’t worry you can send us a whatsapp message or an email or call us and we will be able to remove your location. User dats is not shared with anyone & we are in talks with one of the best Israeli companies for cyber security & anti hacking. </li>
<li>User Content : By posting, uploading, or otherwise submitting any content to our website, including but not limited to text, photos, videos, and audio, you grant us a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, and fully sub licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content in any media now known or hereafter developed, without compensation to you or any other person.</li>
<li>Trading : Our website allows users to engage in trading. You agree that any transactions you engage in through our website are solely between you and the other party, and we are not responsible for any disputes that may arise between you and other users.</li>
<li>Indemnification :  You agree to indemnify and hold us, our affiliates, and our respective officers, directors, employees, and agents, harmless from any claims, liabilities, damages, losses, and expenses, including without limitation reasonable attorneys' fees and costs, arising out of or in any way related to your use of our website, your violation of these Terms and Conditions, or your violation of any rights of another person or entity.</li>
<li>Disclaimer of Warranties  : Our website is provided on an "as is" and "as available" basis, and we make no representations or warranties of any kind, express or implied, regarding the website or the content, materials, or products available on or through the website. We do not warrant that the website will be error-free, uninterrupted, or free from viruses or other harmful components. To the fullest extent permitted by law, we disclaim all warranties, express or implied, including but not limited to implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</li>
<li>1Limitation of Liability : To the fullest extent permitted by law, we will not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in any way related to your use of our website, even if we have been advised of the possibility of such damages.</li>
<li>Opting out¬ : If you feel aggrieved for any reason whatsoever you may contact us and your data will be deleted from our databases.</li>
</ul>
                    </i> 
                </div>
                <!--end::Section-->
          
            
               
              
                <!--end::Submit-->
            </form>

        </div>
        <!--end::Row-->        
    </div>
    <!--end::Input group-->    
</div> 
<!--end::Wrapper-->                    </div>
                    <!--end::Step 1-->

                    <!--begin::Step 2-->
                    <div class="" data-kt-stepper-element="content">
                        <!--begin::Wrapper-->
<div class="w-100">
    <!--begin::Heading-->
    <div class="pb-10 pb-lg-15">
        <!--begin::Title-->
        <h2 class="fw-bold text-dark">Personal Details</h2>
        <!--end::Title-->

        <!--begin::Notice-->
        <div class="text-muted fw-semibold fs-6">
            Setup your personal details.
           
        </div>
        <!--end::Notice-->
    </div>
    <!--end::Heading-->

    <!--begin::Input group-->
    <div class="mb-10 fv-row">
        <!--begin::Label-->
        <!-- <label class="d-flex align-items-center form-label mb-3">
            Specify Team Size

            
<span class="ms-1"  data-bs-toggle="tooltip" title="Provide your team size to help us setup your billing" >
	<i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>        </label> -->
        <!--end::Label-->

        <!--begin::Row-->
        <div class="row mb-2" style="display: none;" data-kt-buttons="true"> 
            <!--begin::Col-->
            <div class="col">
                <!--begin::Option-->
                <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                    <input type="radio" class="btn-check" name="account_team_size" value="1-1"/>    
                    <span class="fw-bold fs-3">1-1</span>
                </label>       
                <!--end::Option-->     
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col">
                <!--begin::Option-->
                <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4 active">
                    <input type="radio" class="btn-check" name="account_team_size" checked value="2-10"/>  
                    <span class="fw-bold fs-3">2-10</span>
                </label>
                <!--end::Option-->
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col">                            
                <!--begin::Option-->
                <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                    <input type="radio" class="btn-check" name="account_team_size" value="10-50"/>     
                    <span class="fw-bold fs-3">10-50</span>
                </label>
                <!--end::Option-->
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col">                                      
                <!--begin::Option-->
                <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                    <input type="radio" class="btn-check" name="account_team_size" value="50+"/> 
                    <span class="fw-bold fs-3">50+</span>
                </label>   
                <!--end::Option-->    
            </div>
            <!--end::Col-->                 
        </div>
        <!--end::Row-->

        <!--begin::Hint-->
        <!-- <div class="form-text">
            Customers will see this shortened version of your statement descriptor
        </div> -->
        <!--end::Hint-->

    </div  >

    <div class="col-12 row">
    <!--end::Input group-->

            <!--begin::Input group-->
            <div class="mb-10 fv-row col-6">      
                <!--begin::Label-->                  
                <label class="form-label mb-3">Your Name</label>
                <!--end::Label-->
        
                <!--begin::Input-->
                <input type="text"class="form-control "  name="account_name" placeholder="" value=""/>
                <!--end::Input-->
            </div>
            <!--end::Input group-->
      <!--begin::Input group-->
      <div class="mb-10 fv-row col-6">      
        <!--begin::Label-->                  
        <label class="form-label mb-3">Your Email</label>
        <!--end::Label-->

        <!--begin::Input-->
        <input type="text" class="form-control "  name="account_name" placeholder="" value=""/>
        <!--end::Input-->
    </div>
    <!--end::Input group-->
</div>

 <!--begin::Input group-->
 <div class="fv-row mb-10">
    <!--begin::Label-->
    <label class="form-label required">Select State</label>
    <!--end::Label-->

    <!--begin::Input-->
    <select name="business_type" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true" onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt"  required>
        <option></option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
        <option value="Daman and Diu">Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Puducherry">Puducherry</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West Bengal">West Bengal</option>
    </select>
    <!--end::Input-->                             
</div>
<!--end::Input group-->
    <!--begin::Input group-->
    <div class="mb-0 fv-row">
        <!--begin::Label-->
        <label class="d-flex align-items-center form-label mb-5">
            Select your Role

            
<span class="ms-1"  data-bs-toggle="tooltip" title="Monthly billing will be based on your account plan" >
	<i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>        </label>
        <!--end::Label-->

        <!--begin::Options-->
        <div class="mb-0">
            <!--begin:Option-->
            <label class="d-flex flex-stack mb-5 cursor-pointer">
                <!--begin:Label-->
                <span class="d-flex align-items-center me-2">
                    <!--begin::Icon-->
                    <span class="symbol symbol-50px me-6">
                        <span class="symbol-label">
                            <i class="  la la-tractor fs-1 text-gray-600"><span class="path1"></span><span class="path2"></span></i>                        </span>
                    </span>
                    <!--end::Icon-->

                    <!--begin::Description-->
                    <span class="d-flex flex-column">
                        <span class="fw-bold text-gray-800 text-hover-primary fs-5">Farmer</span>
                        <!-- <span class="fs-6 fw-semibold text-muted">Use images to enhance your post flow</span> -->
                    </span>
                    <!--end:Description-->
                </span>
                <!--end:Label-->

                <!--begin:Input-->
                <span class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" name="account_plan" value="1"/>
                </span>
                <!--end:Input-->
            </label>
            <!--end::Option-->

            <!--begin:Option-->
            <label class="d-flex flex-stack mb-5 cursor-pointer">
                <!--begin:Label-->
                <span class="d-flex align-items-center me-2">
                    <!--begin::Icon-->
                    <span class="symbol symbol-50px me-6">
                        <span class="symbol-label">
                            <i class="la la-store fs-1 text-gray-600"><span class="path1"></span><span class="path2"></span></i>                        </span>
                    </span>
                    <!--end::Icon-->

                    <!--begin::Description-->
                    <span class="d-flex flex-column">
                        <span class="fw-bold text-gray-800 text-hover-primary fs-5">trader</span>
                        <!-- <span class="fs-6 fw-semibold text-muted">Use images to your post time</span> -->
                    </span>
                    <!--end:Description-->
                </span>
                <!--end:Label-->

                <!--begin:Input-->
                <span class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" checked name="account_plan" value="2"/>
                </span>
                <!--end:Input-->
            </label>
            <!--end::Option-->

            <!--begin:Option-->
            <label class="d-flex flex-stack mb-5 cursor-pointer">
                <!--begin:Label-->
                <span class="d-flex align-items-center me-2">
                    <!--begin::Icon-->
                    <span class="symbol symbol-50px me-6">
                        <span class="symbol-label">
                            <i class="la la-search-location fs-1 text-gray-600"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                        </span>
                    </span>
                    <!--end::Icon-->

                    <!--begin::Description-->
                    <span class="d-flex flex-column">
                        <span class="fw-bold text-gray-800 text-hover-primary fs-5">land owner</span>
                        <!-- <span class="fs-6 fw-semibold text-muted">Use images to enhance time travel rivers</span> -->
                    </span>
                    <!--end:Description-->
                </span>
                <!--end:Label-->

                <!--begin:Input-->
                <span class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" name="account_plan" value="3"/>
                </span>
                <!--end:Input-->
            </label>
            <!--end::Option-->
             <!--begin:Option-->
             <label class="d-flex flex-stack mb-5 cursor-pointer">
                <!--begin:Label-->
                <span class="d-flex align-items-center me-2">
                    <!--begin::Icon-->
                    <span class="symbol symbol-50px me-6">
                        <span class="symbol-label">
                            <i class="la la-shield fs-1 text-gray-600"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                        </span>
                    </span>
                    <!--end::Icon-->

                    <!--begin::Description-->
                    <span class="d-flex flex-column">
                        <span class="fw-bold text-gray-800 text-hover-primary fs-5">Fauji</span>
                        <!-- <span class="fs-6 fw-semibold text-muted">Use images to enhance time travel rivers</span> -->
                    </span>
                    <!--end:Description-->
                </span>
                <!--end:Label-->

                <!--begin:Input-->
                <span class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" name="account_plan" value="3"/>
                </span>
                <!--end:Input-->
            </label>
            <!--end::Option-->
 <!--begin:Option-->
 <label class="d-flex flex-stack mb-5 cursor-pointer">
    <!--begin:Label-->
    <span class="d-flex align-items-center me-2">
        <!--begin::Icon-->
        <span class="symbol symbol-50px me-6">
            <span class="symbol-label">
                <i class="la la-truck-loading fs-1 text-gray-600"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                        </span>
        </span>
        <!--end::Icon-->

        <!--begin::Description-->
        <span class="d-flex flex-column">
            <span class="fw-bold text-gray-800 text-hover-primary fs-5">Exporter</span>
            <!-- <span class="fs-6 fw-semibold text-muted">Use images to enhance time travel rivers</span> -->
        </span>
        <!--end:Description-->
    </span>
    <!--end:Label-->

    <!--begin:Input-->
    <span class="form-check form-check-custom form-check-solid">
        <input class="form-check-input" type="radio" name="account_plan" value="3"/>
    </span>
    <!--end:Input-->
</label>
<!--end::Option-->
 <!--begin:Option-->
 <label class="d-flex flex-stack mb-5 cursor-pointer">
    <!--begin:Label-->
    <span class="d-flex align-items-center me-2">
        <!--begin::Icon-->
        <span class="symbol symbol-50px me-6">
            <span class="symbol-label">
                <i class="la la-user fs-1 text-gray-600"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                        </span>
        </span>
        <!--end::Icon-->

        <!--begin::Description-->
        <span class="d-flex flex-column">
            <span class="fw-bold text-gray-800 text-hover-primary fs-5">Others</span>
            <!-- <span class="fs-6 fw-semibold text-muted">Use images to enhance time travel rivers</span> -->
        </span>
        <!--end:Description-->
    </span>
    <!--end:Label-->

    <!--begin:Input-->
    <span class="form-check form-check-custom form-check-solid">
        <input class="form-check-input" type="radio" name="account_plan" value="3"/>
    </span>
    <!--end:Input-->
</label>
<!--end::Option-->

        </div>
        <!--end::Options-->
    </div>
    <!--end::Input group-->
</div>
<!--end::Wrapper-->                    </div>
                    <!--end::Step 2-->

                    <!--begin::Step 3-->             
                    <div class="" data-kt-stepper-element="content">
                        <!--begin::Wrapper-->
<div class="w-100">
    <!--begin::Heading-->
    <div class="pb-10 pb-lg-12">
        <!--begin::Title-->
        <h2 class="fw-bold text-dark">Categories</h2>
        <!--end::Title-->
<br>
            <!--begin::Row-->
            <div class="row mb-2 col-12"  data-kt-buttons="true"> 
                <!--begin::Col-->
                <div class="col-4 m-2">
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                        <input type="radio" class="btn-check" name="account_team_size" value="1-1"/>    
                        <span class="fw-bold fs-3">General Guidance</span>
                    </label>       
                    <!--end::Option-->     
                </div>
                <!--end::Col-->
    
                <!--begin::Col-->
                <div class="col-3 m-2">
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4 active">
                        <input type="radio" class="btn-check" name="account_team_size" checked value="2-10"/>  
                        <span class="fw-bold fs-3">Grow new Crops</span>
                    </label>
                    <!--end::Option-->
                </div>
                <!--end::Col-->
    
                <!--begin::Col-->
                <div class="col-4">                            
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                        <input type="radio" class="btn-check" name="account_team_size" value="10-50"/>     
                        <span class="fw-bold fs-3">Grow Organic Crops</span>
                    </label>
                    <!--end::Option-->
                </div>
                <!--end::Col-->
    
                <!--begin::Col-->
                <div class="col">                                      
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                        <input type="radio" class="btn-check" name="account_team_size" value="50+"/> 
                        <span class="fw-bold fs-3">Animal Husbandry</span>
                    </label>   
                    <!--end::Option-->    
                </div>
                <!--end::Col-->   
                
                     <!--begin::Col-->
                     <div class="col-5 m-2">                                      
                        <!--begin::Option-->
                        <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                            <input type="radio" class="btn-check" name="account_team_size" value="50+"/> 
                            <span class="fw-bold fs-3">Developing food processing unit</span>
                        </label>   
                        <!--end::Option-->    
                    </div>
                    <!--end::Col--> 
                    <!--begin::Col-->
                    <div class="col m-2 ">                                      
                        <!--begin::Option-->
                        <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                            <input type="radio" class="btn-check" name="account_team_size" value="50+"/> 
                            <span class="fw-bold fs-3">Dairy</span>
                        </label>   
                        <!--end::Option-->    
                    </div>
                    <!--end::Col--> 
                        <!--begin::Col-->
                        <div class="col m-2">                                      
                            <!--begin::Option-->
                            <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                                <input type="radio" class="btn-check" name="account_team_size" value="50+"/> 
                                <span class="fw-bold fs-3">Others</span>
                            </label>   
                            <!--end::Option-->    
                        </div>
                        <!--end::Col--> 
            </div>
            <!--end::Row-->
    </div>
    <!--end::Heading-->

  <!--begin::Input group-->
  <div class="fv-row mb-0">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold form-label required">Area Available</label>
    <!--end::Label-->

    <!--begin::Input-->
    <input name="business_email" class="form-control form-control-lg form-control-solid" />
    <!--end::Input-->
</div>
<!--end::Input group-->
<br>
    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--begin::Label-->
        <label class="form-label required">Select Scale</label>
        <!--end::Label-->

        <!--begin::Input-->
        <select name="business_type" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true">
            <option></option>
            <option value="1">Square meter</option>
            <option value="1">Acre</option>
            <option value="2">Hectare</option>
            <option value="3">Gaj</option>
            <option value="4">Kanal</option>
            <option value="5">Bigha</option>
            <option value="1">Biswa</option>
            <option value="1">Killa</option>
            <option value="2">Lessa</option>
            <option value="3">Dhur</option>
            <option value="4">Pura</option>
            <option value="5">Chatak</option>
            <option value="5">Marla</option>
            <option value="1">Square Yard</option>
            <option value="1">Katha</option>
            <option value="2">Ground</option>
            <option value="3">Cent</option>
            <option value="4">Guntha</option>
            <option value="5">Karam</option>
        </select>
        <!--end::Input-->                             
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--end::Label-->
        <label class="form-label">Present Utilization</label>
        <!--end::Label-->

        <!--begin::Input-->
        <textarea name="business_description" class="form-control form-control-lg form-control-solid" rows="3"></textarea>
        <!--end::Input-->
    </div>
    <!--end::Input group-->

  
</div>
<!--end::Wrapper-->

                    </div>              
                    <!--end::Step 3-->

          
                    
                    <!--begin::Step 5-->
                    <div class="" data-kt-stepper-element="content d-none">
                         

<!--begin::Wrapper-->
<div class="w-100 d-none">
    <!--begin::Heading-->
    <div class="pb-8 pb-lg-10">
        <!--begin::Title-->
        <h2 class="fw-bold text-dark">Your Are Done!</h2>      
        <!--end::Title-->

        <!--begin::Notice-->   
        <div class="text-muted fw-semibold fs-6">
            If you need more info, please  
            <a href="" class="link-primary fw-bold">
                Sign In
            </a>
            .
        </div>
        <!--end::Notice-->
    </div>
    <!--end::Heading-->
                    
    <!--begin::Body-->
    <div class="mb-0">     
        <!--begin::Text-->
        <div class="fs-6 text-gray-600 mb-5">
            Writing headlines for blog posts is as much an art as it is a science 
            and probably warrants its own post, but for all advise is with what 
            works for your great & amazing audience. 
        </div>
        <!--end::Text-->

        <!--begin::Alert-->
        
<!--begin::Notice-->
<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed  p-6">
            <!--begin::Icon-->
        <i class="ki-duotone ki-information fs-2tx text-warning me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>        <!--end::Icon-->
    
    <!--begin::Wrapper-->
    <div class="d-flex flex-stack flex-grow-1 ">
                    <!--begin::Content-->
            <div class=" fw-semibold">
                                    <h4 class="text-gray-900 fw-bold">We need your attention!</h4>
                
                                    <div class="fs-6 text-gray-700 ">To start using great tools, please, <a href="https://preview.keenthemes.com/metronic8/demo1/utilities/wizards/vertical.html" class="fw-bold">Create Team Platform</a></div>
                            </div>
            <!--end::Content-->
        
            </div>
    <!--end::Wrapper-->  
</div>
<!--end::Notice-->
        <!--end::Alert-->
    </div>
    <!--end::Body-->
</div> 
<!--end::Wrapper-->

                     </div>            
                    <!--end::Step 5-->   

                    <!--begin::Actions-->
                    <div class="d-flex flex-stack pt-15"> 
                        <div class="mr-2">
                            <button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous"> 
                                <i class="ki-duotone ki-arrow-left fs-4 me-1"><span class="path1"></span><span class="path2"></span></i>                                Previous
                            </button>
                        </div>

                    
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->       
    </div>
    <!--end::Body-->
</div>
<!--end::Authentication - Multi-steps-->




                 </div>
<!--end::Root-->
        
        <!--begin::Javascript-->
        <script>
            var hostUrl = "https://preview.keenthemes.com/metronic8/demo1/assets/";        </script>

            <script>
  function moveToNext(currentInput, nextInputId) {
  if (currentInput.value.length == currentInput.maxLength) {
    document.getElementById(nextInputId).focus();
  }
}

function moveToPrev(currentInput, prevInputId) {
  if (currentInput.value.length == 0) {
    document.getElementById(prevInputId).focus();
  }
}

document.getElementById('digit1').addEventListener('keydown', function(e) {
  if (e.code === "Backspace") {
    moveToPrev(this, "");
  }
});

document.getElementById('digit2').addEventListener('keydown', function(e) {
  if (e.code === "Backspace") {
    moveToPrev(this, "digit1");
  }
});

document.getElementById('digit3').addEventListener('keydown', function(e) {
  if (e.code === "Backspace") {
    moveToPrev(this, "digit2");
  }
});

document.getElementById('digit4').addEventListener('keydown', function(e) {
  if (e.code === "Backspace") {
    moveToPrev(this, "digit3");
  }
});
            </script>

                    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
                            <script src="/static/assets/plugins/global/plugins.bundle.js"></script>
                            <script src="/static/assets/js/scripts.bundle.js"></script>
                        <!--end::Global Javascript Bundle-->
        
        
                    <!--begin::Custom Javascript(used for this page only)-->
                            <script src="/static/assets/js/custom/utilities/modals/create-account.js"></script>
                        <!--end::Custom Javascript-->
                <!--end::Javascript-->
        
            </body>
    <!--end::Body-->

</html>